.edit-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0c;
  height: 100vh;
  color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.close {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  margin: 0 1.5rem 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  color: rgb(41, 128, 243);
  transition: color 0.3s;
}

.close:hover {
  color: #ff9051;
}

.edit-profile {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.input-container {
  width: 90%;
  max-width: 600px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.input-container > input,
.input-container > textarea {
  margin: 0.8rem 0;
  padding: 0.6rem 0.75rem;
  background-color: #2f2f2f;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.input-container > input:focus,
.input-container > textarea:focus {
  outline: none;
  background-color: #3d3d3d;
}

.input-about {
  height: 120px;
  resize: none;
  font-family: "Noto Sans", sans-serif;
}

.input-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input-image {
  cursor: pointer;
  border-radius: 14px;
  background-color: white;
  padding: 0.3rem;
  width: 90px;
  height: 120px;
  object-fit: cover;
  border: 3px solid transparent;
  transition: transform 0.2s, border 0.3s;
}

.input-image:hover {
  transform: scale(1.05);
  border-color: #3498db;
}

/* Avatar được chọn */
.input-image.selected {
  border-color: #ff9051;
  box-shadow: 0 0 10px #ff9051;
  transform: scale(1.1);
}

.theme-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.input-theme {
  width: 50px;
  height: 30px;
  border: none;
  cursor: pointer;
}
